$bgColor: #f3cf82;

.root {
  padding: 16px 24px 24px 24px;
  background-color: #f3cf82;
  max-width: 420px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 40px 0 60px;
  position: relative;

  &.isCentered {
    margin: 40px auto 60px;
  }

  &:before {
    width: 0;
    height: 0;
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    border-top: 8vh solid #f3cf82;
    position: absolute;
    top: 25%;
    left: -1%;
    transform: rotate(70deg);
    content: "";
    z-index: -1;
  }

  p {
    margin-bottom: 0;
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
