@import "./../../css/common";

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
}

.cardContainer {
  height: 500px;
  display: flex;
  position: relative;
}

.cardFront {
  display: flex;
  background-size: cover;
  flex: 1 1 auto;
  justify-content: center;
}

.navLink {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    font-weight: 600;
  }
}

.textContainer {
  max-width: 1440px;
  padding: 0 94px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    padding: 0 20px;
  }
}

.projectTitle {
  font-size: 72px;
  margin-bottom: 20px;
  font-family: "Crimson Pro";

  @include media-breakpoint-down(lg) {
    font-size: 44px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 48px;
  }
}

.projectDescription {
  font-size: 20px;
  font-family: "Crimson Text";
  max-width: 470px;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}
