@import "./../../css/common";

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
}

.cardContainer {
  height: 500px;
  display: flex;
  position: relative;

  @include ms-screen-md-down {
    height: 220px;
  }
}

.cardFront {
  display: flex;
  background-size: cover;
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
}

.navLink {
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #fff;
    color: inherit;

    + .projectDescription {
      opacity: 1;
    }
  }
}

.projectDescription {
  opacity: 0;
  transition: 0.25s opacity ease-in-out;
  font-size: 22px;
  font-family: "Crimson Text";
  max-width: 470px;

  @include ms-screen-md-down {
    font-size: 17px;
  }
}

.textContainer {
  box-sizing: border-box;
  max-width: $maxWidth;
  padding: 0 $lgSidePadding;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: flex-start;

  @include ms-screen-md-down {
    margin-top: 24px;
    padding: 0 $smSidePadding;
  }
}

.projectTitle {
  font-size: 72px;
  font-family: "Crimson Pro";

  @include ms-screen-md-down {
    font-size: 30px;
  }
}
