@import "../../../css/common";

.root {
  height: 288px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 72px;
  font-family: "Crimson Pro";
  color: #fff;
  text-align: center;

  @include ms-screen-sm-down {
    font-size: 36px;
    height: 120px;
  }
}

.bannerRoot {
  margin-bottom: 40px;
}

.imageOpacity {
  position: absolute;
  inset: 0;
  background: #000;
}
