@import "./common";

.containerSection {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.textSection {
  max-width: $textMaxWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bodyText {
  font-size: 22px;
  font-family: "Crimson Text";

  p {
    margin: 0 0 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.projectSectionHeader {
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 34px;
}

.projectSmallerHeader {
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.fullWidthProjectImage {
  width: 100%;
  margin: 40px 0;
}

.threeQuarterWidthProjectImage {
  max-width: 620px;
  width: 100%;
  margin: 40px auto;
  display: block;
}

.smallerWidthProjectImage {
  max-width: 585px;
  width: 100%;
  margin: 40px auto;
  display: block;
}
