@import "./common";

.containerSection {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.textSection {
  max-width: $textMaxWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bodyText {
  font-size: 22px;
  font-family: "Crimson Text";

  p {
    margin: 0 0 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.projectSectionHeader {
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 34px;
}

.projectSmallerHeader {
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.dropShadow {
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}

.fullWidthProjectImage {
  width: 100%;
  margin: 40px 0;
  max-width: 100%;
}

.floatRight {
  float: right;
}

.autoWidthImage {
  width: auto;
  margin: 40px auto;
  display: block;
  max-width: 100%;
}

.autoWidthImageNotCentered {
  width: auto;
  margin: 40px 0;
  display: block;
  max-width: 100%;
}

.threeQuarterWidthProjectImage {
  max-width: 620px;
  width: 100%;
  margin: 40px auto;
  display: block;
}

.smallerWidthProjectImage {
  max-width: 585px;
  width: 100%;
  margin: 40px auto;
  display: block;
}

.flexibleContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

p {
  margin-block-start: 40px;
  margin-block-end: 40px;
}
