@import "../../css/_common";

.navigationContainer {
  display: flex;
  position: absolute;
  font-size: 24px;
  justify-content: flex-end;
  left: 0;
  right: 0;
  margin-top: 50px;
  z-index: 1;
  font-family: "Crimson Pro";
  gap: 66px;
  padding-right: $lgSidePadding;

  .iconButton {
    color: #fff;
    position: relative;
    top: -4px;
    left: -4px;

    &:hover {
      background-color: transparent;
    }

    :global(.ms-Icon) {
      font-size: 24px;
    }
  }

  .menuButton {
    display: none;
  }

  nav {
    display: contents;
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #fff;
        font-weight: 700;
      }

      &:active {
        color: #fff;
      }
    }
  }

  @include ms-screen-md-down {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 30px;
    padding-right: $smSidePadding;
    flex-direction: column;
    padding-left: $smSidePadding;
    gap: 40px;

    &.isOpen {
      nav {
        display: contents;
      }
    }

    nav {
      display: none;
    }

    .menuButton {
      display: block;
    }
  }
}
