@import "../../css/common";

.navigationContainer {
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
  font-family: "Work Sans";
  margin-right: 30px;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    margin-left: 36px;
    color: $ms-color-neutralSecondary;

    &:hover {
      color: $ms-color-neutralPrimary;
    }

    &:active {
      color: $ms-color-neutralDark;
    }
  }
}
