@import "../../css/_common";

.root {
  @include ms-screen-lg-up {
    position: sticky;
    top: 0px;
    z-index: 10;
  }
}

.navigationContainer {
  display: flex;
  position: absolute;
  font-size: 24px;
  justify-content: flex-end;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  font-family: "Crimson Pro";
  gap: 66px;
  padding-right: $lgSidePadding;

  @include ms-screen-lg-up {
    &.hasShadow {
      background: #14111c;
      box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    }
  }

  .iconButton {
    color: #fff;
    position: relative;
    top: -4px;
    right: -4px;

    &:hover {
      background-color: transparent;
    }

    :global(.ms-Icon) {
      font-size: 24px;
    }
  }

  .menuButton {
    display: none;
  }

  .navParent {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    gap: 66px;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #fff;
        font-weight: 700;
      }

      &:active {
        color: #fff;
      }
    }
  }

  @include ms-screen-md-down {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 30px;
    padding: 0 $smSidePadding;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;

    &.isOpen {
      nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-end;
      }
    }

    nav {
      display: none;
    }

    .menuButton {
      display: block;
    }
  }
}

.isActive {
  border-bottom: 1px solid white;
}
