@import "../../../css/common";

.header {
  font-family: "Crimson Pro";
  font-size: 40px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 34px;

  @include ms-screen-md-down {
    font-size: 36px;
  }
}

.sectionContent {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}
