@import "../../../css/common";

.header {
  font-family: "Crimson Text";
  font-size: 48px;
  font-weight: 600;

  @include ms-screen-md-down {
    font-size: 36px;
  }
}

.sectionContent {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}
