@import "./../../css/common";

.cardsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.socialContainer {
  display: flex;
  gap: 14px;
  margin: 12px 0 24px;
}

.socialLink {
  background-color: #df76d5;
  color: #23212b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-down(sm) {
  .topSection {
    flex-direction: column;
  }
}

.topSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 20px 0 94px;
  color: white;
  flex-direction: column;
  background-size: cover;
  height: 825px;
  padding-bottom: 86px;
  box-sizing: border-box;

  .name {
    position: relative;
    font-family: "Crimson Pro";
    margin: 0;
    font-size: 72px;
    line-height: 1;
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-89px);
    }

    span {
      font-weight: 600;
    }

    @include media-breakpoint-down(xl) {
      font-size: 64px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 48px;
    }

    @include media-breakpoint-down(md) {
      font-size: 36px;
      margin-bottom: 8px;
    }
  }

  .locationText {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: "Crimson Text";

    @include media-breakpoint-down(md) {
      margin: 0 0 30px;
      font-size: 16px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 0 36px;
      font-size: 18px;
    }
  }

  .blurb {
    font-weight: 300;
    margin: 0;
    font-size: 20px;
  }
}

.aboutMe {
  background-color: #fff;
  color: black;
  padding: 88px 94px;
  font-family: "Crimson Text";
  font-size: 24px;
  line-height: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 60px 20px 60px;
}
