@import "./../../css/common";

.cardsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.socialContainer {
  display: flex;
  gap: 14px;
  margin: 12px 0 24px;
}

.testing {
  position: absolute;
  inset: 0;
  top: 4%;
  margin-left: 400px;

  @include ms-screen-md-down {
    margin-left: 150px;
  }
}

.dahlia {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-width: 900px;
  opacity: 0.6;

  @media screen and (max-width: 1300px) {
    right: auto;
    left: 0;
    width: auto;
  }
}

.homepageBg {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #14111c;

  :global(.react-parallax-content) {
    &::before {
      content: " ";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.socialLink {
  @include socialLink(#ffffff);
}

@include ms-screen-sm-down {
  .topSection {
    flex-direction: column;
  }
}

.topSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  flex-direction: column;
  background-size: cover;
  height: 825px;
  box-sizing: border-box;
  position: relative;
  background-color: #14111c;
  overflow: hidden;

  .topSectionInner {
    padding: 0 20px 86px $lgSidePadding;
    box-sizing: border-box;
    position: relative;
    z-index: 3;

    @include ms-screen-md-down {
      padding: 0 20px 86px $smSidePadding;
    }
  }

  .name {
    position: relative;
    font-family: "Crimson Pro";
    margin: 0;
    font-size: 72px;
    line-height: 1;
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-89px);
    }

    span {
      font-weight: 600;
    }

    @include ms-screen-md-down {
      margin-bottom: 8px;
      font-size: 50px;
    }
  }

  .locationText {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: "Crimson Text";

    @include ms-screen-md-down {
      margin: 0 0 12px;
      font-size: 17px;
    }
  }

  .blurb {
    font-weight: 300;
    margin: 0;
    font-size: 20px;
  }
}

.aboutMe {
  box-sizing: border-box;
  background-color: #fff;
  color: black;
  padding: 88px $lgSidePadding;
  font-family: "Crimson Text";
  font-size: 24px;
  line-height: 40px;

  @include ms-screen-md-down {
    padding: 60px $smSidePadding;
  }
}
