@import "./../../css/common";

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  margin: auto;
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-row-gap: 30px;
  }

  :global(.cardContainer) {
    &:before {
      content: "";
      display: block;
      height: 0;
      width: 0;
      padding-bottom: 100%;
    }
  }
}

.introContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 140px 0 180px;

  @include media-breakpoint-down(lg) {
    margin: 0 0 100px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 60px;
  }
}

.topSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 30px;

  @include media-breakpoint-down(md) {
    margin-top: 0px;
  }
}

@include media-breakpoint-down(sm) {
  .topSection {
    flex-direction: column;
  }
}

.emojiPicContainer {
  margin-right: 2.5vw;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 34%;

  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
  }

  img {
    position: relative;
    top: 9px;
    height: 100%;
    width: 100%;
  }
}

.navLink {
  color: inherit;
}

.blurbText {
  display: flex;
  flex-direction: column;
  max-width: 632px;

  .name {
    font-family: "Crimson Text";
    margin: 0;
    font-size: 72px;
    line-height: 1;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-down(xl) {
      font-size: 64px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 48px;
    }

    @include media-breakpoint-down(md) {
      font-size: 36px;
      margin-bottom: 8px;
    }
  }

  .locationText,
  .blurb {
    font-size: 24px;

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  .locationText {
    margin: 0 0 54px;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      margin: 0 0 30px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 0 36px;
    }

    .location {
      margin-left: 10px;
    }
  }

  .blurb {
    font-family: "Work Sans";
    font-weight: 300;
    margin: 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 60px 30px 0;

  a {
    color: $ms-color-neutralPrimary;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}
