@import "../../css/common";

.topSection {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 184px;
  flex-direction: column;
  background-size: cover;
  height: 825px;
  color: #fff;
  box-sizing: border-box;
}

.imageOpacity {
  position: absolute;
  inset: 0;
  background: #000;
}
